---
import Card from "@/components/Card.astro";
import Layout from "@/layouts/Layout.astro";
const blogs = new Array(3).fill(null).map((_, i) => ({
    title: `Title ${i + 1}`,
    description:
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam",
    createdAt: "Nov 1, 2023",
}));
---

<Layout>
    <main class="mb-20 mt-4">
        <h1 class="text-xl font-bold mb-8">Blogs</h1>

        <ul class="mt-6 w-full space-y-6">
            {
                blogs.map((blog) => (
                    <li>
                        <Card
                            title={blog.title}
                            description={blog.description}
                            createdAt={blog.createdAt}
                            link={`/${blog.title}`}
                        />
                    </li>
                ))
            }
        </ul>
    </main>
</Layout>
