---
import GithubLogo from "@/assets/GithubLogo.astro";
import LinkedInLogo from "@/assets/LinkedInLogo.astro";
import TwitterLogo from "@/assets/TwitterLogo.astro";
---

<footer>
    <hr />
    <div class="flex justify-between px-2 items-center py-4 gap-4">
        <span class="text-muted-foreground text-sm">Irshath</span>

        <div class="flex gap-2 self-start">
            <a
                class="hover:bg-accent hover:text-accent-foreground p-2 rounded-lg"
                target="_blank"
                href="https://github.com/irshathcodes"
                aria-label="github"
            >
                <GithubLogo class="w-3 h-3" />
            </a>
            <a
                class="hover:bg-accent hover:text-accent-foreground p-2 rounded-lg"
                target="_blank"
                href="https://twitter.com/irshathcodes"
                aria-label="twitter / X"
            >
                <TwitterLogo class="w-3 h-3" />
            </a>

            <a
                class="hover:bg-accent hover:text-accent-foreground p-2 rounded-lg"
                href="https://www.linkedin.com/in/irshathcodes/"
                aria-label="linkedin"
                target="_blank"
            >
                <LinkedInLogo class="w-3 h-3" />
            </a>
        </div>
    </div>
</footer>
