---
import { Image } from "astro:assets";
import myImage from "@/assets/irshath-image.jpg";
import GithubLogo from "@/assets/GithubLogo.astro";
import TwitterLogo from "@/assets/TwitterLogo.astro";
import LinkedInLogo from "@/assets/LinkedInLogo.astro";
---

<section class="mt-20 mb-40 flex justify-between gap-4 flex-col-reverse">
    <div class="flex-1">
        <h1 class="font-bold text-2xl mb-2">Hello, I'm Irshath.</h1>
        <p class="text-lg text-muted-foreground">
            A frontend developer specializing in React. I'm passionate about
            creating great web experiences that make a difference.
        </p>
        <div class="flex gap-5 mt-6 items-center">
            <a
                href="./irshath-resume.pdf"
                class="bg-primary text-primary-foreground px-4 py-2 rounded-lg text-sm w-fit h-fit font-medium hover:opacity-90"
                target="_blank">Download resume</a
            >
            <div class="flex gap-2">
                <a
                    class="hover:bg-accent hover:text-accent-foreground p-2 rounded-lg text-foreground/90"
                    target="_blank"
                    href="https://github.com/irshathcodes"
                    aria-label="github"
                >
                    <GithubLogo />
                </a>
                <a
                    class="hover:bg-accent hover:text-accent-foreground p-2 rounded-lg text-foreground/90"
                    target="_blank"
                    href="https://twitter.com/irshathcodes"
                    aria-label="twitter / X"
                >
                    <TwitterLogo />
                </a>

                <a
                    class="hover:bg-accent hover:text-accent-foreground p-2 rounded-lg text-foreground/90"
                    href="https://www.linkedin.com/in/irshathcodes/"
                    aria-label="linkedin"
                    target="_blank"
                >
                    <LinkedInLogo />
                </a>
            </div>
        </div>
    </div>
    <Image
        src={myImage}
        class="w-40 h-40 object-cover object-center rounded-full shrink-0"
        alt="irshath"
        width={160}
        height={160}
        loading="eager"
        quality="max"
    />
</section>
