---
import MoonIcon from "@/assets/MoonIcon.astro";
import SunIcon from "@/assets/SunIcon.astro";
---

<nav>
    <div class="flex justify-between items-center py-5">
        <a class="shrink-0 font-xl font-semibold" href="/">Irshath Codes</a>
        <div class="shrink-0 flex items-center gap-6">
            <a
                class="hover:underline underline-offset-4 text-muted-foreground hover:text-foreground"
                href="/blogs">Blogs</a
            >
            <button
                id="theme-toggle-btn"
                type="button"
                class="relative hover:bg-accent p-2 rounded-lg text-muted-foreground hover:text-foreground"
            >
                <MoonIcon class="dark:hidden" />
                <SunIcon class="hidden dark:block" />
                <span class="sr-only">Toggle theme</span>
            </button>
        </div>
    </div>
</nav>

<script>
    const themeToggleButton = document.getElementById("theme-toggle-btn");

    themeToggleButton?.addEventListener("click", () => {
        const currentTheme = window.localStorage.getItem("theme");
        const updatedTheme = currentTheme === "light" ? "dark" : "light";

        currentTheme && document.documentElement.classList.remove(currentTheme);
        document.documentElement.classList.add(updatedTheme);

        window.localStorage.setItem("theme", updatedTheme);
    });
</script>
